<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <link href="/css/style.css" rel="stylesheet" type ="text/css">
  </head>
  <body>
    <div class="sidenav">
      <a href="/">
      <img src="http://behance.vo.llnwd.net/profiles8/2846967/prosite/2-877242-200c8706815de5bd52072d8ccddbc1d3.png"></a>
         

      <ul id="sidenav"> <h4>W O R K</h4>
      <li><a href="publet">Publet.com</a> </li>

        <li> <a href="agnitus">Agnitus.com</a> </li>
        <li> <a href="geni">Geni.com </a></li>

        <li><a href="sunset"> Sunset.com</a> </li>
        <li><a href="daydream"> Daydream</a> </li>
    </ul>
          <ul id="sidenav"> <h4>M O R E</h4>
        <li><a href="http://steakandasparag.us">Blog</a></li>
            <li><a href="http://steakandasparag.us/alexisresume">Resume</a></li>
        <li><a href="mailto:alexispark123@gmail.com">Contact</a></li>
      </ul>
    </div>
  <article>
    <div class="sidenavtwo">
      <div class="project">
        <br>
        <br>
        <img src=http://behance.vo.llnwd.net/profiles8/2846967/projects/10485453/33569e3f0f3e704b8b914c16232d3a0d.jpg>
        <hr>
        <p id="date">Completed 08.02.13</p> 
        <hr>
        <h1> Objective: </h1>
        <p> Re-design the weekly e-mail report card in order to positively impact click-thru-rate and app subscription rate.
          <p><b>Agnitus</b> is an iPhone/iPad app that features games for early childhood education designed for children ages 2 to 6. </p>
        <p>Agnitus provides fun games developed by educational specialists that give parents a comprehensive skill report that is accessible on demand. </p>
        <p>Research: Alexis Park, Jorge Baltazar, Calvin Hoot</p>
        <p>Flows: Calvin Hoot</p>
        <p>Sketching/Wireframes: Alexis Park, Jorge Baltazar, Zack DeSario</p>
        <p>Final Design: Zack DeSario</p>

        <hr>
        <h1> User Need Findings: </h1>
        <ul><li>Parents do not want to see their children fall behind</li>
          <li>Value proposition needs to be presented up front in order for the users to understand the subscription model</li>
          <li>Parents want to be involved and in control of their children's development</li>
          <li>Data about their children's learning and progress needs to be presented in a clearer and meaningful way for parents to grasp quicky</li>
        </ul>
        <h1>Usability Findings: </h1><ul>
        <li>Ambiguous brand recognition - "What is Agnitus?"</li>
        <li>Weekly report needs to be more personal - "This says nothing about my child."</li>
        <li>Data is ambiguous to users - "I'm not sure what this all means."</li>
        </ul>

        <h1>Before & After</h1>
        <hr><img src=http://behance.vo.llnwd.net/profiles8/2846967/projects/10485453/ca3b4965d9209196b67eed0e6bf19b2a.png>
        <hr>
        
          <img src=http://behance.vo.llnwd.net/profiles8/2846967/projects/10485453/690eec7f0306ab5ee7abe8b7876ee16f.png>
      
          <hr>
        <h1>Final Design Proposal:</h1>
        <ul>
          <li>Full name and larger photo of child to validate the personalization of the report</li>
          <li>Logo presented in original context to maintain brand integrity</li>
          <li>Demonstrate the learning value of agnitus by dislaying their previous levels and highlighting how
much the child have progressed</li>
          <li>Large and descriptive call-to-action button (to dashboard) displayed above the fold</li>
        </ul>
        <hr>
          <h1>Future Recommendations:</h1>
        <ul>
          <li>Display letter grades to evoke sense of urgency from users (implemented)</li>
          <li>Incorporate large-scale subscription model (implemented)</li>
          <li>Demonstrate value through on-boarding e-mail</li>
        </ul>
        <hr>
      </div>
      
    </div>
    </article>