<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <link href="/css/style.css" rel="stylesheet" type ="text/css">
  </head>
  <body>
    <div class="sidenav">
      <a href="/">
      <img src="https://static.squarespace.com/static/52016cc7e4b023f0417416fa/t/525f4637e4b07146f53f809e/1390099655703/?format=1000w"></a>
         

      <ul id="sidenav"> <h4>W O R K</h4>
      <li><a href="publet">Publet.com</a> </li>

        <li> <a href="agnitus">Agnitus.com</a> </li>
        <li> <a href="geni">Geni.com </a></li>

        <li><a href="sunset"> Sunset.com</a> </li>
        <li><a href="daydream"> Daydream</a> </li>
    </ul>
          <ul id="sidenav"> <h4>M O R E</h4>
        <li><a href="http://steakandasparag.us">Blog</a></li>
            <li><a href="http://steakandasparag.us/alexisresume">Resume</a></li>
        <li><a href="mailto:alexispark123@gmail.com">Contact</a></li>
      </ul>
    </div>
  <article>
    <div class="sidenavtwo">
      <div class="project">
        <br>
        <br>
        <img src=http://behance.vo.llnwd.net/profiles8/2846967/projects/9190521/be1040d0ec61d8eacae9ffda07b7715e.JPG>
        <br>
        <hr>
        <br>
        <p id="illustration">Girl</p>
        <br>
        <hr>
        <br>
        <img src=http://behance.vo.llnwd.net/profiles8/2846967/projects/9190521/613b1f3db65c7ede51e84515b591304d.png>
        <br>
        <hr>
        <br>
        <p id="illustration">Fish</p>
        <br>
        <hr>
         <br>
        <img src=http://behance.vo.llnwd.net/profiles8/2846967/projects/9190521/902937c2f86201369cda645f3975f17f.png>
        <br>
        <hr>
        <br>
        <p id="illustration">Lionfish</p>
        <br>
        <hr>
         <br>
        <img src=http://behance.vo.llnwd.net/profiles8/2846967/projects/9190521/3901d944e130ad36e9405a6821e88ecb.jpeg>
        <br>
        <hr>
        <br>
        <p id="illustration">Nostalgia</p>
        <br>
        <hr>

  

      </div>
      
    </div>
    </article>