<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <link href="/css/style.css" rel="stylesheet" type ="text/css">
  </head>
  <body>
    <div class="sidenav">
      <a href="/">
      <img src="http://behance.vo.llnwd.net/profiles8/2846967/prosite/2-877242-200c8706815de5bd52072d8ccddbc1d3.png"></a>
         

      <ul id="sidenav"> <h4>W O R K</h4>
      <li><a href="publet">Publet.com</a> </li>

        <li> <a href="agnitus">Agnitus.com</a> </li>
        <li> <a href="geni">Geni.com </a></li>

        <li><a href="sunset"> Sunset.com</a> </li>
        <li><a href="daydream"> Daydream</a> </li>
    </ul>
          <ul id="sidenav"> <h4>M O R E</h4>
        <li><a href="http://steakandasparag.us">Blog</a></li>
            <li><a href="http://steakandasparag.us/alexisresume">Resume</a></li>
        <li><a href="mailto:alexispark123@gmail.com">Contact</a></li>
      </ul>
    </div>
  <article>
    <div class="sidenavtwo">
      <div class="project">
        <br>
        <br>
        <img src=http://behance.vo.llnwd.net/profiles8/2846967/projects/10397895/1bbe49080b35e81c12a00ca86f898995.jpg>
        <hr>
        <p id="date">Completed 07.19.13</p> 
        <hr>
        <h1> Objective: </h1>
        <p> Add a Minimum Viable Product: Photosharing Feature to Increase User Engagement. 
          <p> <b>Geni.com</b> is targeted towards famiy-oriented members who are fond of the family tree feature of Geni.com, and are also sensitive to privacy. 
Design the photosharing interface while keeping those user goals in mind.</p>
        <p>Web App Design: Alexis Park</p>
        <p>iPhone App Design: Chase Facer</p>
        <p>User Research Process: Alexis Park, Chase Facer, Grant Gordon</p>
        <hr>
        <img src="http://behance.vo.llnwd.net/profiles8/2846967/projects/10397895/53d87eff3e34cfdd3e466ffb3f91bbd1.png">
        <hr>
        <h1> User Need Findings: </h1>
        <ul><li>Ability to upload photos with as fewest clicks as possible, with simple editing tools</li>
          <li>Up-to-date photostreams</li>
          <li>Complete control over who the photos are viewable to</li>
          <li>One-click printing or sharing process</li>
          <li>Simple Like or Comment features foster sense of connection
        </ul>
        <hr>
        <h1>Personas:</h1>
      
        <hr>
        <img src=http://behance.vo.llnwd.net/profiles8/2846967/projects/10485453/67379e080d8007f2efdaef04c3b29f47.png>
       <hr>
        <h1>Key Task Flow:</h1>
        <hr>
        <img src=http://behance.vo.llnwd.net/profiles8/2846967/projects/10397895/e9f9dc211da39a833df9e4128c09544f.png>
        <hr>
        <h1>Sketches & Prototypes: </h1>
        <hr>
        <img src="http://behance.vo.llnwd.net/profiles8/2846967/projects/10397895/fab84347352af111931f184def4c54f9.jpg">
        <hr>
        <img src="http://behance.vo.llnwd.net/profiles8/2846967/projects/10397895/8b9450afe75905fe024a54f70e00bb14.jpg">
        <hr>
        <p>We utilized paper prototyping in order to observe the user interaction achieved by the key features.</p>
          <hr>
        <h1>Key Screens:</h1>
        <hr><img src="http://behance.vo.llnwd.net/profiles8/2846967/projects/10397895/52bcd83a3674ffcbdf59434a88503b55.png">
        <hr>
        <p id="illustration">Geni.com Family Tree Page with integrated photostream</p>
        <hr>
        
          <img src="http://behance.vo.llnwd.net/profiles8/2846967/projects/10397895/4bac1953a9c0c6f1d745a935a41c7821.png">
      
          <hr>
          <p id="illustration">Privacy Setting Options</p>
          <hr>
          <img src="http://behance.vo.llnwd.net/profiles8/2846967/projects/10397895/6101d3e33cff975994e6d5a104ef99b0.png">
          <hr>
          <p id="illustration">Quick Photo View Option</p>
          <hr>
        <h1>Geni.com App for iPhone</h1>
        <hr>
        <p>We also envisioned a Geni.com app for iPhone users to easily upload and share photos with their family.</p>
        <img src="http://behance.vo.llnwd.net/profiles8/2846967/projects/10397895/07bb246f898006b5f8a44b9490e12007.png">

        <hr>
        <img src="http://behance.vo.llnwd.net/profiles8/2846967/projects/10397895/a75c274426034cf71d25b0439eb6e663.png">
        <hr>
        <img src="http://behance.vo.llnwd.net/profiles8/2846967/projects/10397895/d3675fa5ae4a858c79752cf277c77018.png">
        <hr>
        <img src="http://behance.vo.llnwd.net/profiles8/2846967/projects/10397895/d873fef63d8865e6d39c837ca9371205.png">
        <hr>
      
      </div>
      
    </div>
    </article>