<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <link href="/css/style.css" rel="stylesheet" type ="text/css">
  </head>
  <body>
    <div class="sidenav">
      <a href="/">
        <img src="http://behance.vo.llnwd.net/profiles8/2846967/prosite/2-877242-200c8706815de5bd52072d8ccddbc1d3.png">
      </a>

      <ul id="sidenav"> <h4>W O R K</h4>
      <li><a href="publet">Publet.com</a> </li>

        <li> <a href="agnitus">Agnitus.com</a> </li>
        <li> <a href="geni">Geni.com </a></li>

        <li><a href="sunset"> Sunset.com</a> </li>
        <li><a href="daydream"> Daydream</a> </li>
    </ul>
          <ul id="sidenav"> <h4>M O R E</h4>
        <li><a href="http://steakandasparag.us">Blog</a></li>
            <li><a href="http://steakandasparag.us/alexisresume">Resume</a></li>
        <li><a href="mailto:alexispark123@gmail.com">Contact</a></li>
      </ul>
    </div>
  <article>
       <div class="intro">
         <div id="introparagraph">
           <h2>Hi there! I'm Alexis, and I'm a User Experience Designer.</h2>
           <p id="paragraph">I am an experience designer with two years of professional experience, and my focus is on user research and rapid prototyping. </p>
           <p id="paragraph">Not only do I appreciate clean and beautiful design, but I am extremely interested studying the psyche behind the user wants and interactions in a product.</p>
           <p id="paragraph"> New challenges excite me! </p>
         <p id="paragraph"> I am a lightning-fast learner (<b>I built this website over this weekend with no previous formal training in front-end development</b>), I am autonomous yet collaborative, and am empathetic to users.</p>
           <br><br>
         </div>
      </div>
    <div class="sidenavtwo">
      <div class ="column">
        <a href="publet"><img src="http://behance.vo.llnwd.net/profiles8/2846967/projects/10415471/hd_608c4e840d2573ff19cbfa5615e4eeb6.jpg"></a>
        <p><a href="publet">Publet.com</a></p>
        <p>
          Our team re-designed the on-boarding process for Publet.com, an online publishing platform for marketeers and journalists.</p>
       </div>
      <div class ="column">
        <a href="agnitus"><img src="http://behance.vo.llnwd.net/profiles8/2846967/projects/10485453/hd_690eec7f0306ab5ee7abe8b7876ee16f.png"></a>
        <p><a href="agnitus">Agnitus.com</a></p>
        <p>
          Weekly e-mail redesign project for Agnitus</p>
      </div>
      <div class ="column">
        <a href="geni"><img src="http://behance.vo.llnwd.net/profiles8/2846967/projects/10397895/hd_53d87eff3e34cfdd3e466ffb3f91bbd1.png"></a>
        <p><a href="geni">Geni.com</a></p>
        <p>
          Introduced a photosharing feature to Geni.com while keeping family-oriented and privacy sensitive user goals in mind.</p>
      </div>
      <div class="column">
        <a href="sunset"><img src="http://behance.vo.llnwd.net/profiles8/2846967/projects/10379061/hd_d099e548f03de3805d4ab071764d751d.png"></a>
        <p><a href="sunset">Sunset.com</a></p>
        <p>Redesign/reconceptualization of Sunset Magazine's website, Sunset.com.</p>
      </div>
      <div class="column">
       <img src="http://behance.vo.llnwd.net/profiles8/2846967/projects/9190521/hd_3901d944e130ad36e9405a6821e88ecb.jpeg">
        <p>Daydream</p>
        <p>My Illustrations.</p>
      </div>

      <div class="column"></div>

    </div>
    


    </article>

  </body>
</html>