<html>
  <head>
    <link href="/css/style.css" rel="stylesheet" type ="text/css">
  </head>
  <body>
    <div class="sidenav">
      <a href="/">
        <img src="http://behance.vo.llnwd.net/profiles8/2846967/prosite/2-877242-200c8706815de5bd52072d8ccddbc1d3.png">
      </a>

      <ul> <h4>W O R K</h4>
      <li> <a href="publet">Publet.com</a> </li>
      <p></p>
      <li> Agnitus.com </li>
        <p></p>
      <li> Geni.com </li>
        <p></p>
        <li><a href="sunset"> Sunset.com</a> </li>
        <p></p>
        <li> Daydream </li>
    </ul>
          <ul> <h4>M O R E</h4>
        <li><a href="http://steakandasparag.us">Blog</a></li>
        <li>Resume</li>
        <li><a href="mailto:alexispark123@gmail.com">Contact</a></li>
      </ul>
    </div>
  <article>
    <div class="sidenavtwo">
      <div class ="column">
        <img src="http://behance.vo.llnwd.net/profiles8/2846967/projects/10415471/hd_608c4e840d2573ff19cbfa5615e4eeb6.jpg">
        <p>Publet.com</p>
        <p>
          Our team re-designed the on-boarding process for Publet.com, an online publishing platform for marketeers and journalists.</p>
       </div>
      <div class ="column">
        <img src="http://behance.vo.llnwd.net/profiles8/2846967/projects/10485453/hd_690eec7f0306ab5ee7abe8b7876ee16f.png">
        <p>Agnitus.com</p>
        <p>
          Weekly e-mail redesign project for Agnitus</p>
      </div>
      <div class ="column">
        <img src="http://behance.vo.llnwd.net/profiles8/2846967/projects/10397895/hd_53d87eff3e34cfdd3e466ffb3f91bbd1.png">
        <p>Geni.com</p>
        <p>
          Introduced a photosharing feature to Geni.com while keeping family-oriented and privacy sensitive user goals in mind.</p>
      </div>
      <div class="column">
      <img src="http://behance.vo.llnwd.net/profiles8/2846967/projects/10379061/hd_d099e548f03de3805d4ab071764d751d.png">
        <p>Sunset.com</p>
        <p>Redesign/reconceptualization of Sunset Magazine's website, Sunset.com.</p>
      </div>
      <div class="column">
       <img src="http://behance.vo.llnwd.net/profiles8/2846967/projects/9190521/hd_3901d944e130ad36e9405a6821e88ecb.jpeg">
        <p>Daydream</p>
        <p>My Illustrations.</p>
      </div>

      <div class="column"></div>
    </div>

    </article>

  </body>
</html>