= yield
%script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
%script{:src => "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"}
%script{:src => "//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"}
%script{:src => "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"}
%script{:src => "/js/todo.js"}
