<html>
  <head>
    <link href="/css/style.css" rel="stylesheet" type ="text/css">
  </head>
  <body>
    <div class="sidenav">
      <a href="/">
        <img src="http://behance.vo.llnwd.net/profiles8/2846967/prosite/2-877242-200c8706815de5bd52072d8ccddbc1d3.png">
      </a>
      <ul> <h4>W O R K</h4>
      <li> <a href="publet">Publet.com</a> </li>
      <p></p>
      <li> Agnitus.com </li>
        <p></p>
      <li> Geni.com </li>
        <p></p>
        <li<a href="sunset"> Sunset.com</a> </li>
        <p></p>
        <li> Daydream </li>
    </ul>
          <ul> <h4>M O R E</h4>
 <li><a href="http://steakandasparag.us">Blog</a></li>
        <li>Resume</li>
        <li><a href="mailto:alexispark123@gmail.com">Contact</a></li>
      </ul>
    </div>
  <article>
    <div class="sidenavtwo">
      <div class="project">
        <h1> Publet.com </h1>
        <p> Our team re-designed the on-boarding process for Publet.com, an online publishing platform for marketeers and journalists. </p>
        <img src="http://behance.vo.llnwd.net/profiles8/2846967/projects/10415471/6578fbfd2199a6c0864f287dcad07210.png">
        <hr>
        <p align="right">Completed 08.16.13</p>
        <hr>
        <h1> Objective: </h1>
        <p> Create an onboarding process for potential clients of Publet.com.
          <p><b>Publet</b> is an online self-publishing platform for organizations with high-end publishing projects, including firms; internal design departments; and freelance and small design firms.</p>
        <p>Team members: Alexis Park, Philip Pan, Emily Alter, Wesley  Haines</p>
        <hr>
        <h1> User Needs Findings: </h1>
        <ul><li>How will Publet help them improve their business?</li>
          <li>Responsive design and instant preview prior to publication</li>
          <li>Marketing power via social media</li>
          <li>Fewer manual processes</li>
          <li>Collaborative editing abilities</li>
        </ul>
        <hr>
        <h1>Personas</h1>
        <hr>
        <img src=http://behance.vo.llnwd.net/profiles8/2846967/projects/10415471/6c117c4cd4d3a2325889c345e76cea7b.png>
        <img src=http://behance.vo.llnwd.net/profiles8/2846967/projects/10415471/a370d4b84a622b99a6875509970c0a37.png>
        <hr>
        <h1>Sketches & Flow Ideation: </h1>
        <hr>
        <img src=http://behance.vo.llnwd.net/profiles8/2846967/projects/10415471/aff6d6e7d208377fa314ec085ec94dd4.jpg>
        <img src=http://behance.vo.llnwd.net/profiles8/2846967/projects/10415471/4389a03ae48e5e0be2368e4a1d8b0d9d.jpg>
        <hr>
        <h1>Key Flow:</h1>
        <hr>
        <img src=http://behance.vo.llnwd.net/profiles8/2846967/projects/10415471/ad14a2eac102036e13ae6ae139a0b8e7.png>
        <hr>
        <h1>Key Screens:</h1>
          <hr>
          <img src=http://behance.vo.llnwd.net/profiles8/2846967/projects/10415471/33308145e92ea7c378929e75a50a000a.jpg>
          <p>Up front value proposition and link to live previews for potential clients to display Publet's capabilities</p>
          <hr>
        <img src=http://behance.vo.llnwd.net/profiles8/2846967/projects/10415471/608c4e840d2573ff19cbfa5615e4eeb6.jpg>
        <p>Publet provides beautiful, responsive design layouts for different devices - and they are 100% prewiew-able, providing less manual processes for the user.</p>
        <hr>
        <img src=http://behance.vo.llnwd.net/profiles8/2846967/projects/10415471/c5897de189beb758cc8a154bdecada3f.jpg>
        <p>Quick tutorial is provided (and is easily exitable) for familiarizing a new user with Publet's interface.</p>
        <hr>
        <h1>Final Prototype Presented to Publet</h1>
        <iframe width="420" height="315" src="//www.youtube.com/embed/IZS6fZgVUc8" frameborder="0" allowfullscreen scale="tofit"></iframe>
        <hr>
        <p>click <a href="www.publet.com">HERE</a> to view the currently implemented version of our design.</p>
      </div>

    </div>
    </article>