<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <link href="/css/style.css" rel="stylesheet" type ="text/css">
  </head>
  <body>
    <div class="sidenav">
      <a href="/">
      <img src="https://static.squarespace.com/static/52016cc7e4b023f0417416fa/t/525f4637e4b07146f53f809e/1390099655703/?format=1000w"></a>
         

      <ul id="sidenav"> <h4>W O R K</h4>
      <li><a href="publet">Publet.com</a> </li>

        <li> <a href="agnitus">Agnitus.com</a> </li>
        <li> <a href="geni">Geni.com </a></li>

        <li><a href="sunset"> Sunset.com</a> </li>
        <li><a href="daydream"> Daydream</a> </li>
    </ul>
          <ul id="sidenav"> <h4>M O R E</h4>
        <li><a href="http://steakandasparag.us">Blog</a></li>
            <li><a href="http://steakandasparag.us/alexisresume">Resume</a></li>
        <li><a href="mailto:alexispark123@gmail.com">Contact</a></li>
      </ul>
    </div>
  <article>
    <div class="sidenavtwo">
      <div class="project">
        <h1> Class Project: Sunset Magazine </h1>
        <br>
        <br>
        <img src=http://behance.vo.llnwd.net/profiles8/2846967/projects/10379061/2488f101b74cad56b74d31d6202e5de8.png>
        <hr>
        <p align="right">Completed 07.08.13</p> 
        <hr>
        <h1> Objective: </h1>
        <p> Re-design the visuals, the flow, and the paywall structure of Sunset Magazine's website.
          <h1> Deliverables:</h1>
        <ul><li>Wireframes</li></ul>
        <p>Team members: Alexis Park, Jordan Koplowitz, Saba Munir</p>
        <hr>
        <h1> Approach: </h1>
        <ul><li>We interviewed 15 internet savvy users who have read Sunset magazine. </li></ul>
        <h1>Key Findings: </h1><ul>
        <li>Users are more intrigued and delighted by the recommendations based on locale</li>
        <li>Sunset Magazine is most widely recognized for its beautiful visual content - must focus and showcase on website</li>
        <li> People are aspirational and like to live vicariously through those pictures</li>
        <li>No matter how beautiful the pictures are, they need to be realistic and relevant to the users' life</li></ul>
        <hr>
        <h1>Content Audit Sample:</h1>
        <hr>
        <img src=http://behance.vo.llnwd.net/profiles8/2846967/projects/10379061/hd_ebf588bfccca737bd486c65a11ac59d9.jpg>
        <hr>
        <h1>Conceptual Model:  </h1>
        <hr>
        <img src=http://behance.vo.llnwd.net/profiles8/2846967/projects/10379061/d099e548f03de3805d4ab071764d751d.png>
        <hr>
        <p>We envisioned the new Sunset.com to be more catered towards finding locally based businesses for the user. Also the users would be able to add favorite articles to their to come back to them quickly upon their return.</p><p>
        The favorited articles/data would be then used to find more articles that they would be interested in, in order to provide the user with a more personalized experience.</p>
        <hr>
        <h1>Process:</h1>
        <hr>
        <img src=http://behance.vo.llnwd.net/profiles8/2846967/projects/10379061/7f0c6d17844edd37e9d788049bf6cd4d.jpg>
        <hr>
        <p align=center>Analyzing information architecture</p>
          <hr>
          <img src=http://behance.vo.llnwd.net/profiles8/2846967/projects/10379061/9e0de84045e46760f615aa78102461fa.png>
      
          <hr>
        <h1>Key Screens:</h1>
        <hr>
        <img src=http://behance.vo.llnwd.net/profiles8/2846967/projects/10379061/5dfabad49392f4f49f514bef9e9beb61.jpg>
        <p align=center>Home Page</p>
        <hr>
        <img src=http://behance.vo.llnwd.net/profiles8/2846967/projects/10379061/b9d0adf58f9252cb9ad541f8e6e0f128.jpg>
       <hr>
        <p align=center>Pop-up/drop down screen for users to search for localized content</p>
        <hr>
        <img src=http://behance.vo.llnwd.net/profiles8/2846967/projects/10379061/b9d0adf58f9252cb9ad541f8e6e0f128.jpg>
        <hr>
        <p align=center>The content would refresh to the articles relevant for the user's desired location, and the user would be able to freely change the region on the map shown.</p>
      </div>
      
    </div>
    </article>