body {
  background-color:#ecd0ad;
}

a {
  color: #4b3e2a;
}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {font-weight: bold;}
a:active {text-decoration:underline;}

.sidenav {
  position: relative;
  border-radius: 5px;
  color: #806a4b;
  float: left;
  height: 800px;
  width: 150px;
  background-color:#ffffff;
  margin: 0 10px 0 0;
  font-family: Arial;
  font-size: 15px;
}

.sidenav img {
  position: relative;
  width: 150px;
  margin-top: 16px;
}
.sidenavtwo {
  width: 80%;
  position: relative;
  border-radius: 5px;
  display: inline-block;
  background-color:#ffffff;
}

.intro {
border-radius: 5px;
position: relative;
float: top;
background-color: #ffffff;
width: 80%;
height: 500px;
margin-left: 160px;
}

.column {
  border-radius: 5px;
  background-color:white;
  height: 380px;
  width: 300px;
  margin: 16px;
  float: left;
  font-family: Helvetica;
  color: #355c54;
  font-size: 13px;
}

.column img {
  width: 300px;
  height: 210px;
}



p {
  font-family: Arial;
  font-size: 13px;
  color: #8c725b;
}

h1 {
  font-family: Sans-serif;
  color: #574840;
  font-size: 18px;
}

ul {
  font-family: Arial;
}

li {
  font-family: Arial;
   font-size: 13px;
  color: #8c725b;
}

.project {
 width: 80%;
 position: relative;
 float: left;
 background-color: #ffffff;
 max-width: 800px;
 margin: 40px;
 text-align: center;
}

.project img {
  max-width: 700px;
  display: inline-block;
}

#date {
  text-align: right;
}


.project p, ul, h1 {
  text-align: left;
}