@import url(http://fonts.googleapis.com/css?family=Playfair+Display|BenchNine|Istok+Web|Bubbler+One|Roboto+Slab:300|Sansita+One|Abril+Fatface);

body {
  background-color:#ffffff;
}

a {
  color: #4b3e2a;
}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {font-weight: bold;}
a:active {text-decoration:underline;}

.sidenav {
  position: fixed;
  color: #806a4b;
  float: left;
  height: 80%;
  width: 108px;
  background-color:#ffffff;
  margin: 0px 10px 10px 10px;
  font-family: Arial;
  font-size: 12px;
}

.sidenav img {
  position: relative;
  margin-top: 16px;
}
.sidenavtwo {
  width: 80%;
  position: relative;
  display: inline-block;
  background-color:#ffffff;
  margin-left: 130px;
}

.intro {
position: relative;
float: top;
background-color: #ffffff;
width: 80%;
margin-left: 130px;
margin-right: 160px;
display: inline-block;
}

#introparagraph {
  margin: 80px 20% 40px 40px;
  font-family: 'Garamond', serif;
  color: black;
}

#paragraph {
  font-family: 'Istok web', serif;
  font-size: 16px;
  color: #302827;
}

.column {
  border-radius: 5px;
  background-color:white;
  height: 380px;
  width: 230px;
  margin: 16px;
  float: left;
  font-family: Helvetica;
  color: #355c54;
  font-size: 13px;
}

.column img {
  width: 230px;
  height: 150px;
}

#illustration {
  text-align: center;
}

p {
  font-family: Arial;
  font-size: 13px;
  color: #8c725b;
}

h1 {
  font-family: Sans-serif;
  color: #574840;
  font-size: 18px;
}

h2 {
  color: #302e2a;
  font-family: 'Istok web', sans-serif;
}

ul {
  font-family: Arial;
}

li {
  
  font-family: Arial;
  font-size: 13px;
  color: #8c725b;
}

#sidenav li {
  font-family: Istok web;
  color: #8c725b;
}

#sidenav {
  list-style: none;
  font-size: 11.5px;
  margin-left: 0;
  padding: 0 15px;

}

.project {
 width: 80%;
 position: relative;
 float: left;
 background-color: #ffffff;
 max-width: 800px;
 margin: 40px;
 text-align: center;
}

.project img {
  max-width: 700px;
  width: 80%;
  display: inline-block
  position: relative;
}

#date {
  text-align: right;
}


.project p, ul, h1 {
  text-align: left;
}